<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <!--Using Servlet Context.-->
<!--   
 <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.adi.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>name</param-name>
        <param-value>Adarsh Vajpayee</param-value>
    </context-param>
    <context-param>
        <param-name>Phone</param-name>
        <param-value>Samsung</param-value>
    </context-param>-->
    
    <!--Using Servlet Config.-->
   
 <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.adi.MyServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Gnanesh Auti</param-value>
        </init-param>
 </servlet>
    
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>name</param-name>
        <param-value>Adarsh Vajpayee</param-value>
    </context-param>
</web-app>
